<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>KYC</title>

        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">

        <!-- jquery UI CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">

        <!-- Site CSS -->
        <link href="/static/css/site.css" rel="stylesheet">

    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        KYC
                        {% if not production %}
                        <span class="dev-alert">DEV MODE</span>
                        {% endif %}
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <!--
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        -->
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if verification_message %}
                    <div id="verification_message" class="alert alert-danger">
                        {{ verification_message }}
                    </div>
                    {% endif %}

                    {% if not completed %}

                    <div id="choose_verification" style="display: none">
                        <div class="col-sm-12">
                            <h3 style="margin-top: 40px;">Do you have a REDRAT EZPAY Account?</h3>
                            <img src="/static/img/ezpay-logo.jpg"/><br/>
                            <button type="button" class="btn btn-primary" onclick="chooseEzPay()">Yes</button>
                            <button type="button" class="btn btn-primary" onclick="chooseAplyid()">No</button>
                        </div>
                    </div>

                    <form id="ezpay_form" method="post" style="display: none">
                        <input type="hidden" id="token" value="{{token}}" name="token"/>
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="/static/img/ezpay-logo.jpg"/>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="ezpayEmail">Email</label>
                                <input type="text" class="form-control" name="ezpayEmail" id="ezpayEmail" value="{{email}}" readonly>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="ezpayPass">Password</label>
                                <input type="password" class="form-control" name="ezpayPass" id="ezpayPass">
                            </div>
                        </div>
						<div class="row">
							<div class="form-group col-sm-12">
								<input value="Submit" type="submit" id="submitezpay" name="submitezpay" class="btn btn-primary" />
							</div>
						</div>
                    </form>

                    <div id="aplyid_continue" style="display: none">
                        <div class="col-sm-12">
                            <h3 style="margin-top: 40px;">Continue your APLYiD verification by following the link sent to your mobile phone</h3>
                            <img src="/static/img/aplyid-logo.webp"/><br/>
                            <button type="button" class="btn btn-primary" onclick="chooseAplyid()">Resend text message</button>
                        </div>
                    </div>

                    <form id="aplyid_form" method="post" style="display: none">
                        <input type="hidden" id="token" value="{{token}}" name="token"/>
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="/static/img/aplyid-logo.webp"/>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="aplyidPhone">Your Mobile Number</label>
                                <input type="text" class="form-control" name="aplyidPhone" id="aplyidPhone" placeholder="6421234567">
                            </div>
                        </div>
						<div class="row">
							<div class="form-group col-sm-12">
								<input value="Submit" type="submit" class="btn btn-primary" />
							</div>
						</div>
                    </form>

                    {% else %}

                    <h3 style="margin-top: 40px;">Kyc Completed</h3>
                    <p>
                    Your identity verification is complete.<span id="return-to-parent" style="display: none"> You can return to <a href="{{parent_site}}">{{parent_site}}</a>.</span>
                    </p>
                    <p>Thank-you.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-muted" style="font-size: 8px">
                    <br/>
                    <br/>
                    {% if aplyid_transaction_id %}
                    <span ondblclick="download_aplyid_pdf()">aplyid: {{aplyid_transaction_id}}</span>
                    {% elif completed %}
                    rrid: {{email}}
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- jquery ui -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <!-- green id helper stuff -->
        <script src="/static/js/site.js?v=20201029"></script>

        <!-- is-webview -->
        <script src="https://wzrd.in/standalone/is-webview@1.0.1"></script>

        <script type="text/javascript">                 
			
			$(document).ready(function() {
                {% if not completed %}
                    {% if not aplyid_transaction_id %}
                        $("#choose_verification").show();
                    {% else %}
                        $("#aplyid_continue").show();
                    {% endif %}
                {% endif %}
			})

            function chooseEzPay() {
                $("#verification_message").hide();
                $("#choose_verification").hide();
                $("#ezpay_form").show();
            }

            function chooseAplyid() {
                $("#verification_message").hide();
                $("#choose_verification").hide();
                $("#aplyid_continue").hide();
                $("#aplyid_form").show();
            }

            {% if completed %}
            $(document).ready(function() {
                /* webview detection not working
                if (!isWebview(navigator.userAgent)) {
                    $("#return-to-parent").show();
                }
                */
                if (window.hasOwnProperty("ReactNativeWebView")) {
                    console.log("react native webview");
                    window.ReactNativeWebView.postMessage("kycCompleted");
                }
            });
            {% endif %}

            {% if aplyid_transaction_id %}
            function download_aplyid_pdf() {
                window.location = '/aplyid_pdf/{{token}}';
            }
            {% endif %}

		</script>

    </body>

</html>

